* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    background-color: #252525;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h1, h3{
    color: #F0F0F0;
}

p {
    color: #F0F0F0;
}

section {
    scroll-margin-top: 100px;
}

#italic-text {
    font-style: italic;
    font-size: 16px;
    margin: 0;
}

/* Navigation bar section */

#navigation {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

#nav-bar {
    background-color: #2e2e2e;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 0px 50px;
}

.nav-items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-items a {
    color:#F0F0F0;
    text-decoration: none;
}

.nav-items a:hover {
    color: #b6b6b6;
}

.nav-items li{
    margin: 0px 20px;
    display: inline-block;
    color: #F0F0F0;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

.nav-title {
    text-align: center;
    height: auto;
    width: fit-content;
    margin: 5px 10px;
}

.nav-title h1 {
    font-weight: bolder;
    font-family: "Mozilla Headline", sans-serif;
    font-size: 30px;
    color: #F0F0F0;
}

.nav-spacer h1 {
    font-weight: bolder;
    font-family: "Mozilla Headline", sans-serif;
    font-size: 30px;
    color: #F0F0F0;
    visibility: hidden;
}

/* Main */

main {
    height: 100vh;
    padding-top: 80px;
}

/*Home section*/

.home-container {
    width: auto;
    height: 80vh;
    margin: 0 80px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-details {
    width: 45vw;
}

.home-details .details {
    margin-left: 30px;
}

.home-container h1 {
    margin-bottom: 30px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bolder;
    font-size: 5em;
}

.home-container p {
    margin-bottom: 3em;
    font-family: "Arimo", sans-serif;
    line-height: 1.3em;
    font-size: 20px;
    text-align: justify;
}

.home-img-container {
    display: flex;
    align-items: center;
}

.home-img-container img{
    width: 500px;
    height: auto;
    border-radius: 10%;
}

.portfolio-button {
    width: fit-content;
    height: fit-content;
}

.portfolio-button .button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #F0F0F0;
  text-decoration: none;
  letter-spacing: 5px;
  margin-top: 20px;
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  background-color: #252525;
  width: 22rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.portfolio-button .button:hover{
    color: #252525;
    background-color: #F0F0F0;
}

/*Links Section */

#links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.learning-links-container {
    width: 50vw;
    height: 80vh;
    margin-right: 80px;
    border-radius: 20px;
    background-color: #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 40px;
}

.links-container {
    width: 50vw;
    height: 80vh;
    margin-left: 80px;
    border-radius: 20px;
    background-color: #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 40px;
}

.link-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 20px;
}

.links-container p {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.website-links a {
    color: skyblue;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
}

.website-links .web-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px;
}

.learning-links-container p{
    font-family: "Arimo", sans-serif;
    font-size: 20px;
}

.learning-links-container a {
    color: skyblue;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
}

.learning-links-container .website-links .web-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px;
}

/* Practices Section */

#practices-section {
    margin: 20px;
    height: 100vh;
}

.practices-title{
    font-family: "Roboto Slab", sans-serif;
    font-size: 4em;
    font-weight: bold;
    margin: 40px;
    text-align: center;
}

.practices-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 30px 30px 30px;
    padding: 20px;
    width: auto;
    height: auto;
    gap: 50px;
}

.practices-topic-container {
    width: 35vw;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.practices-container h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    color:#F0F0F0;
}

.topic-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.topic-content p {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 24px
}

.practices-topic-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.practices-topic-container:hover {
    transform: scale(1.00);
    background-color: #313131;
}

.practices-topic-container:hover .topic-content {
    max-height: 1000px; 
    opacity: 1;
}


